[Desktop Entry]
Name=Shartphone (Private window)
Exec=shartphone-private
Icon=phone
Type=Application
Categories=Network;InstantMessaging;Chat;
Terminal=true
